/* global style */
html, body {
	margin: 0;
	padding: 0;
	position: relative;
	min-height: 100%;
	color: #464637;
	font-size: 1.1em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #eee;
	background-color: #444;
}
.container {
	margin: auto;
	po_sition: relative;
}
.disable-select {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
   -khtml-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
}
a {
  outline: 0 !important;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* main view style */
.container-court {
  padding: 0.8em;
}
.container-lockerroom {
  padding: 0.8em;
  max-height: 16.0em;
}
.container-scores {
  padding: 0.8em;
}
.date {
  color: #ccc;
}
.court {
  min-height: 242px;
  min-width: 152px;
  padding: 0.2em;
  opacity: 0.3;
  background: url('../images/grassfield.png') repeat scroll 0% 0% transparent;
  border: 4px solid #888;
  -webkit-border-radius: 7px;
     -moz-border-radius: 7px;
          border-radius: 7px;
}
.court-a {
  border-color: #f40;
}
.court-b {
  border-color: #05e;
}
.team-selected {
  opacity: 1.0 !important;
}
.team-label {
  width: 100%;
  min-width: 152px;
  padding: 0 0.7em;
  margin-top: 0.3em;
  border: 4px solid #888;
  color: #eee;
  opacity: 0.3;
  background-color: #222;
  -webkit-border-radius: 7px;
     -moz-border-radius: 7px;
          border-radius: 7px;
}
.team-label-a {
  border-color: #f40;
  text-align: right;
}
.team-label-b {
  border-color: #05e;
  text-align: left;
}
.lockerroom {
  padding: 0.7em;
  background-color: #333;
  border: 4px solid #888;
  -webkit-border-radius: 7px;
     -moz-border-radius: 7px;
          border-radius: 7px;
  max-height: 16.0em;
  overflow: auto;
}
.scores {
  padding: 0.8em;
  color: #eee;
  background-color: #444;
   font-size:1.6em;
  border: 4px solid #888;
  -webkit-border-radius: 7px;
     -moz-border-radius: 7px;
          border-radius: 7px;
}
.score-input-container {
  padding: 0.1em;
  padding-bottom: 0.4em;
}
.score-input-container-a {
  text-align: right;
}
.score-input-container-b {
  text-align: left;
}
.score-input {
  font-size: 1.8em;
  max-width: 1.8em;
  color: #eee;
  background-color: #222;
  text-align: right;
  padding-right: 0.2em;
}
.player {
  width: 120px;
  margin: 4px;
  padding: 4px;
  font-size: 1.0em;
  color: #000;
  border: 1px solid #222222;
}