<style>
  .thumbnail {
    min-height: 242px;
    min-width: 152px;
  }
  .btn-droppable:hover, .btn-droppable:focus, .btn-droppable:active, .btn-droppable.active {
    color: black;
    background-color: white;
    background-url: none;
  }
  .btn-draggable {
    width: 120px;
    margin: 4px;
    padding: 4px;
    font-size: 18px;
    color: #ffffff;
    background-color: #000064;
    border: 1px solid #222222;
    o_pacity: 1.0;
  }
  .btn-draggable:hover, .btn-draggable:focus, .btn-draggable:active, .btn-draggable.active {
    color: #f8ffbd;
    background-color: #0000a3;
    border: 1px solid orange;
  }
</style>
<div>
  <div class="contentWrapper ng-cloak">
    <div class="container-fixed">
      <div class="row">
        <div class="col-xs-6">
          <div id="teamA" ng-click="teamSelect($event)" class="thumbnail caption" ng-model='teamA' style="background: url('images/grassfield.png') repeat scroll 0% 0% transparent; border: 7px solid #f40; opacity: 0.9;">
            <div class="btn btn-info btn-draggable" ng-repeat="item in teamA" ng-show="item.name" ng-model="teamA">{{item.name}}</div>
          </div>
        </div>
        <div class="col-xs-6">
          <div id="teamB" ng-click="teamSelect($event)" class="thumbnail caption" ng-model='teamB' style="background: url('images/grassfield.png') repeat scroll 0% 0% transparent; border:7px solid darkblue; opacity: 0.9;">
            <div class="btn btn-info btn-draggable" ng-repeat="item in teamB" ng-show="item.name" ng-model="teamB">{{item.name}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar-inner">
    <div class="container form-inline" style="margin-left: 0;">
      <span ng-repeat="(key, item) in playersAvailable">
        <div class="btn btn-info btn-draggable" ng-click="playerSelect($event)" ng-model="players" ng-hide="!item.name">{{item.name}}</div>
      </span>
    </div>
  </div>
</div>