<div class="ng-cloak j-spinner">
  <div class="container-fluid">
    <div class="btn-toolbar" style="margin: 0.3em 0.6em;">
      <button class="btn btn-primary glyphicon" ng-class="{ 'glyphicon-plus-sign': share.matchsCollapsed, 'glyphicon-minus-sign': !share.matchsCollapsed }" ng-attr-title="{{ (share.matchsCollapsed ? 'Expand' : 'Collapse') + ' team matchs' }}"
       ng-click="toggleCollapse();">
      </button>
    </div>
    <table id="table-matches" class="table table-bordered table-condensed table-hover table-auto-width">
      <thead>
        <tr>
          <th>
            <button class="btn btn-primary glyphicon glyphicon-plus"
             ng-click="goto('/')">
            </button>
          </th>
          <th>Date</th>
          <th>Match</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <tr class="vertical-middle" ng-repeat="(id, v) in share.matchs | orderBy:matchsOrderByPredicate:false">
          <td>
            <div style="white-space: nowrap;" ng-show="!v.editMode">
              <!-- TODO: send to $location('/'), with selected match loaded...
              <button class="btn btn-primary glyphicon glyphicon-edit"
               ng-click="matchsToggleEditMode(id, v)">
              </button>
              -->
              <button class="btn btn-primary glyphicon glyphicon-trash"
               really-message="Are you really sure to remove match <i>{{v.name}}</i> ?" really-click="matchRemove(id)">
              </button>
            </div>
            <div class="btn-toolbar" ng-show="v.editMode">
              <div style="white-space: nowrap;">
                <button class="btn btn-primary glyphicon glyphicon-save"
                 ng-click="matchUpdate(id, share.matchEdit)"> <!-- "; && matchsToggleEditMode(id, v);"> -->
                </button>
                <button class="btn btn-primary glyphicon glyphicon-remove"
                 ng-click="matchsToggleEditMode(id, v);">
                </button>
              </div>
            </div>
          </td>
          <td class="vertical-middle" style="vertical-align: middle;">
            <span ng-show="!v.editMode">{{v.date}}</span>
            <input ng-model="share.matchEdit.name" ng-show="v.editMode" key="enter" trap-key="matchUpdate(id, share.matchEdit)" />
          </td>
          <td class="vertical-middle" style="vertical-align: middle; text-align: center;">
            <span ng-show="!v.editMode">{{v.teams['A'].name + ' - ' + v.teams['B'].name}}</span>
            <input ng-model="share.matchEdit.team['A']" ng-show="v.editMode" key="enter" trap-key="matchUpdate(id, share.matchEdit)" />
          </td>
<!--
          <td class="vertical-middle" style="vertical-align: middle;">
            <span ng-show="!v.editMode">{{v.teams['B'].name}}</span>
            <input ng-model="share.matchEdit.team['B']" ng-show="v.editMode" key="enter" trap-key="matchUpdate(id, share.matchEdit)" />
          </td>
-->
          <td class="vertical-middle" style="vertical-align: middle; text-align: center;">
            <span ng-show="!v.editMode">{{v.teams['A'].score + ' - ' + v.teams['B'].score}}</span>
            <input ng-model="share.matchEdit.score" ng-show="v.editMode" key="enter" trap-key="matchUpdate(id, share.matchEdit)" />
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="0">
            <button class="btn btn-primary glyphicon glyphicon-trash" ng-disabled="matchsAreEmpty()"
              really-message="Are you really sure to remove <i>all</i> matchs?" really-click="matchsRemoveAll()">
            </button>
            <!--
            <button class="btn btn-primary glyphicon glyphicon-upload" ng-disabled="!matchsAreEmpty()"
              ng-click="matchsPopulate()">
            </button>
            -->
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>