<nav id="navbar-example" class="navbar navbar-inverse navbar-static" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Team player rating system</a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse bs-js-navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#/setup">Setup</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#/statistics">Statistics</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" ng-href="#/about">About</a></li>
      </ul>
    </div><!-- /.nav-collapse -->
  </div><!-- /.container-fluid -->
</nav>