<div class="ng-cloak j-spinner">

  <div class="container-fluid">
    <ul class="nav nav-pills">
      <li ng-class="{active: isSetupTabActive('tab-players')}">
        <a data-target="#tab-players" data-toggle="pill">Players</a>
      </li>
      <li ng-class="{active: isSetupTabActive('tab-sports')}">
        <a data-target="#tab-sports" data-toggle="pill">Sports</a>
      </li>
    </ul>

    <div class="tab-content">
      <div id="tab-players" ng-class="{'tab-pane':true, active: isSetupTabActive('tab-players')}">
        <table id="table-players" class="table table-bordered table-condensed table-hover table-auto-width">
          <thead>
            <tr>
              <th>
                <button class="btn btn-primary glyphicon glyphicon-plus"
                 title="Add a new player"
                 ng-click="playersToggleAddMode()">
                </button>
              </th>
              <th>Name</th>
              <th>Email</th>
              <th>Skill</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-show="share.playersAddMode">
              <td>
                <div style="white-space: nowrap;">
                  <button class="btn btn-primary glyphicon glyphicon-ok"
                   title="Save new player"
                   ng-click="playerAdd(share.playerAdd) && playersToggleAddMode();">
                  </button>
                  <button class="btn btn-primary glyphicon glyphicon-remove"
                   title="Cancel new player"
                   ng-click="playersToggleAddMode()">
                  </button>
                </div>
              </td>
              <td>
                <input ng-model="share.playerAdd.name" key="enter" trap-key="playerAdd(share.playerAdd, false, false)" />
              </td>
              <td>
                <input ng-model="share.playerAdd.email" key="enter" trap-key="playerAdd(share.playerAdd, false, false)" />
              </td>
              <td>
                <!-- TODO: write a directive to show skill... -->
                <span>{{share.playerAdd.skill.sigma | number:2 }}</span>
                <!-- TODO: it should be not possible to edit skills... -->
              </td>
            </tr>
            <tr class="vertical-middle" ng-repeat="(id, v) in share.players | orderByPriority | orderBy:'name'"> <!-- | orderPlayerByName"> -->
              <td>
                <div style="white-space: nowrap;" ng-show="!v.editMode">
                  <button class="btn btn-primary glyphicon glyphicon-edit"
                   title="Edit player"
                   ng-click="playersToggleEditMode(id, v)">
                  </button>
                  <button class="btn btn-primary glyphicon glyphicon-trash"
                   title="Remove player"
                   really-message="Are you really sure to remove player <i>{{v.name}}</i> ?" really-click="playerRemove(id)">
                  </button>
                </div>
                <div class="btn-toolbar" ng-show="v.editMode">
                  <div style="white-space: nowrap;">
                    <button class="btn btn-primary glyphicon glyphicon-save"
                     title="Save edits"
                     ng-click="playerUpdate(id, share.playerEdit)"> <!-- "; && playersToggleEditMode(id, v);"> -->
                    </button>
                    <button class="btn btn-primary glyphicon glyphicon-remove"
                     title="Cancel edits"
                     ng-click="playersToggleEditMode(id, v);">
                    </button>
                  </div>
                </div>
              </td>
              <td class="vertical-middle" style="vertical-align: middle;">
                <span ng-show="!v.editMode">{{v.name}}</span>
                <input ng-model="share.playerEdit.name" ng-show="v.editMode" key="enter" trap-key="playerUpdate(id, share.playerEdit)" />
              </td>
              <td class="vertical-middle" style="vertical-align: middle;">
                <span ng-show="!v.editMode">{{v.email}}</span>
                <input ng-model="share.playerEdit.email" ng-show="v.editMode" key="enter" trap-key="playerUpdate(id, share.playerEdit)" />
              </td>
              <td class="vertical-middle numerical" style="vertical-align: middle;">
                <!-- TODO: write a directive to show skill... -->
                <span>{{v.skill.sigma | number:2 }}</span>
                <!-- TODO: it should be not possible to edit skills... -->
                <!-- <input ng-model="share.playerEdit.skill" ng-show="v.editMode" key="enter" trap-key="playerUpdate(id, share.playerEdit)" /> -->
                <button class="btn btn-primary glyphicon glyphicon-refresh" ng-show="v.editMode" 
                 title="Reset skill for this player"
                 really-message="Are you really sure to reset skill for this player?" really-click="playerResetSkill(id, share.playerEdit); playerUpdate(id, share.playerEdit); ">
                </button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="999">
                <div style="float:left; width:50%; text-align:left;">
                  <button class="btn btn-primary glyphicon glyphicon-trash" ng-disabled="playersAreEmpty()"
                   title="Remove all players"
                   really-message="Are you really sure to remove <i>all</i> players?" really-click="playersRemoveAll()">
                  </button>
                  <button class="btn btn-primary glyphicon glyphicon-upload" ng-disabled="!playersAreEmpty()"
                   title="Populate players"
                   ng-click="playersPopulate()">
                  </button>
                </div>
                <div style="float:right; width:50%; text-align:right;">
                  <button class="btn btn-primary glyphicon glyphicon-refresh"
                   title="Reset skill for all players"
                   really-message="Are you really sure to reset skills for <i>all</i> players?" really-click="playersResetSkillAll();">
                  </button>
                </div>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>

      <div id="tab-sports" ng-class="{'tab-pane':true, active: isSetupTabActive('tab-sports')}">
        <table id="table-sports" class="table table-bordered table-condensed table-hover table-auto-width">
          <thead>
            <tr>
              <th>
                <button class="btn btn-primary glyphicon glyphicon-plus"
                 ng-click="sportsToggleAddMode()">
                </button>
              </th>
              <th>Name</th>
              <th>Sports</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-show="share.sportsAddMode">
              <td>
                <div style="white-space: nowrap;">
                  <button class="btn btn-primary glyphicon glyphicon-ok"
                   ng-click="sportAdd(share.sportAdd) && sportsToggleAddMode();">
                  </button>
                  <button class="btn btn-primary glyphicon glyphicon-remove"
                   ng-click="sportsToggleAddMode()">
                  </button>
                </div>
              </td>
              <td>
                <input ng-model="share.sportAdd.name" key="enter" trap-key="sportAdd(share.sportAdd)" />
              </td>
              <td>
                <input ng-model="share.sportAdd.playersMax" key="enter" trap-key="sportAdd(share.sportAdd)" />
              </td>
            </tr>
            <tr class="vertical-middle" ng-repeat="(id, v) in share.sports | orderByPriority | orderBy:'name'">
              <td>
                <div style="white-space: nowrap;" ng-show="!v.editMode">
                  <button class="btn btn-primary glyphicon glyphicon-edit"
                   ng-click="sportsToggleEditMode(id, v)">
                  </button>
                  <button class="btn btn-primary glyphicon glyphicon-trash"
                   really-message="Are you really sure to remove Sport <i>{{v.name}}</i> ?" really-click="sportRemove(id)">
                  </button>
                </div>
                <div class="btn-toolbar" ng-show="v.editMode">
                  <div style="white-space: nowrap;">
                    <button class="btn btn-primary glyphicon glyphicon-save"
                     ng-click="sportUpdate(id, share.sportEdit) && sportsToggleEditMode(id, v);">
                    </button>
                    <button class="btn btn-primary glyphicon glyphicon-remove"
                     ng-click="sportsToggleEditMode(id, v);">
                    </button>
                  </div>
                </div>
              </td>
              <td class="vertical-middle" style="vertical-align: middle;">
                <span ng-show="!v.editMode">{{v.name}}</span>
                <input ng-show="v.editMode" ng-model="share.sportEdit.name" key="enter" trap-key="sportUpdate(id, share.sportEdit)" />
              </td>
              <td class="vertical-middle numerical" style="vertical-align: middle;">
                <span ng-show="!v.editMode">{{v.playersMax}}</span>
                <input ng-show="v.editMode" ng-model="share.sportEdit.playersMax" key="enter" trap-key="sportUpdate(id, share.sportEdit)" />
              </td>
              <td class="vertical-middle numerical" style="vertical-align: middle;">
                <span ng-show="v.editMode"></span>
                <span ng-show="!v.editMode">
                  <button class="btn btn-primary glyphicon glyphicon-ok" ng-class="{ 'button-selected': v.selected, 'button-deselected': !v.selected }" ng-click="sportSelect(id)"></button>
                </span> 
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="0">
                <button class="btn btn-primary glyphicon glyphicon-trash" ng-disabled="sportsAreEmpty()"
                 really-message="Are you really sure to remove <i>all</i> sports?" really-click="sportsRemoveAll()">
                </button>
                <button class="btn btn-primary glyphicon glyphicon-upload" ng-disabled="!sportsAreEmpty()" ng-click="sportsPopulate()">
                </button>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>

    </div>
  </div>

</div>